.form {
  width: 30%;
  /* border: 2px solid red; */
  box-shadow: rgb(46, 255, 150) 0px 3px 8px;

  margin: auto;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-bottom: 40px;
}

.form h1 {
  color: rgb(46, 150, 255);
}

.form .btn {
  background-color: rgb(46, 150, 255);
}
